/* ==========================================================================
   COMPONENTS / BUTTONS
   ========================================================================== */

.l-button {
  margin-block: 50px;
  &.--center {
    display: flex;
    justify-content: center;
  }
  a {
    font-family: var(--font-lato);
    --clamp-min: 18;
    --clamp-max: 24;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: all 0.3s;
    &:hover {
      opacity: 0.7;
    }
    span {
      inline-size: 70px;
      aspect-ratio: 1 / 1;
    }
  }
}

.l-button--jp {
  margin-block: 50px;
  a {
    --clamp-min: 16;
    --clamp-max: 18;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: all 0.3s;
    &:hover {
      opacity: 0.7;
    }
    span {
      inline-size: 70px;
      aspect-ratio: 1 / 1;
    }
  }
}

.l-button--jpCenter {
  margin-block: 50px;
  display: flex;
  justify-content: center;
  a {
    --clamp-min: 16;
    --clamp-max: 18;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: all 0.3s;
    &:hover {
      opacity: 0.7;
    }
    span {
      inline-size: 70px;
      aspect-ratio: 1 / 1;
    }
  }
}

@media (max-width: 768px) {
  .l-button {
    a {
      gap: 15px;
      span {
        inline-size: 40px;
      }
    }
  }

  .l-button--jp {
    a {
      gap: 15px;
      span {
        inline-size: 40px;
      }
    }
  }

  .l-button--jpCenter {
    a {
      gap: 15px;
      span {
        inline-size: 40px;
      }
    }
  }
}
