.l-mv-error {
  background: url('../../img/404/mv-pc.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* ==========================================================================
PAGES / TOP PAGE / error
========================================================================== */
.p-error-main {
  padding-block: 100px 450px;
}

.p-error-main__title {
  text-align: center;
  --clamp-min: 24;
  --clamp-max: 30;
  font-weight: 600;
  margin-block-end: 15px;
}

.p-error-main__text {
  text-align: center;
  --clamp-min: 16;
  --clamp-max: 18;
  a{
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .p-error-main {
    padding-block: 50px;
  }
}
