.l-mv-business {
  background: url('../../img/business/mv-pc.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* ==========================================================================
PAGES / TOP PAGE / LEAD
========================================================================== */
.p-business-lead {
  padding-block: 100px;
  h2 {
    --clamp-min: 30;
    --clamp-max: 50;
    font-weight: 800;
    text-align: center;
    span {
      background: linear-gradient(95.33deg, #ffef4a 0%, #fff34a 55.77%, #ffc34a 100%);
      background-repeat: no-repeat;
      background-position: left bottom;
      background-size: 100% 50%;
    }
  }
}

.p-business-lead__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 30px;
  margin-block-start: 30px;
}
.p-business-lead__gridItem {
  border: 1px solid #333;
  border-radius: 10px;
  padding: 20px;
  p {
    font-weight: 600;
    border-radius: 10px 10px 0 0;
    text-align: center;
    --clamp-min: 22;
    --clamp-max: 26;
  }
  .yellow {
    background: #ffef4a;
  }
  .pink {
    background: #e3507f;
    color: #fff;
  }
  ul {
    list-style: disc;
    padding-left: 1em;
    inline-size: fit-content;
    margin-inline: auto;
    margin-block-start: 15px;
    li {
      --clamp-min: 18;
      --clamp-max: 20;
    }
  }
}

@media (max-width: 768px) {
  .p-business-lead {
    padding-block: 50px;
  }
  .p-business-lead__grid {
    grid-template-columns: 1fr;
  }
}

/* ==========================================================================
PAGES / TOP PAGE / service
========================================================================== */
.p-business-service {
  background: #fffde2;
  padding-block-end: 100px;
}

.p-business-service__bg {
  inline-size: 100%;
  height: 450px;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    background: #fffde2;
    --gutter: max(5vi, 20px);
    max-inline-size: var(--container-max-width);
    padding-inline: var(--gutter);
    margin-inline: auto;
    left: 0;
    right: 0;
    bottom: -2px;
    border-radius: 10px 10px 0 0;
    padding-block-start: 5%;
  }
  img {
    object-fit: cover;
    inline-size: 100%;
    block-size: 100%;
  }
}

.p-business-service__title {
  margin-block-start: -50px;
}

.p-business-service__mainImg {
  background: #fff;
  padding: 40px;
  max-inline-size: 1110px;
  margin-inline: auto;
}

.p-business-service__mainText {
  --clamp-min: 16;
  --clamp-max: 20;
  font-weight: 600;
  text-align: center;
  margin-block-start: 30px;
}

@media (max-width: 768px) {
  .p-business-service {
    padding-block-end: 50px;
  }
  .p-business-service__title {
    margin-block-start: 0;
  }
  .p-business-service__bg {
    height: 200px;
    margin-bottom: 50px;
    &::before {
      display: none;
    }
  }
  .p-business-service__mainText {
    text-align: left;
  }
}

/* ==========================================================================
PAGES / TOP PAGE / difference
========================================================================== */

.p-business-difference {
  background: #fffde2;
  padding-block: 100px 20vw;
}

.p-business-difference__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 30px;
  margin-block-start: 30px;
}

.p-business-difference__flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.p-business-difference__flexItemNum {
  --clamp-min: 30;
  --clamp-max: 40;
  font-family: var(--font-lato);
  line-height: 1;
  font-style: italic;
  font-weight: 600;
}

.p-business-difference__flexItemTitle {
  --clamp-min: 22;
  --clamp-max: 24;
  font-weight: 600;
  margin-block-end: 15px;
}

@media (max-width: 768px) {
  .p-business-difference {
    padding-block: 0 20vw;
  }
  .p-business-difference__grid {
    grid-template-columns: 1fr;
  }
}
