/* ==========================================================================
PAGES / TOP PAGE / ABOUT
========================================================================== */
.p-top-about {
  margin-block: 13vw;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    position: absolute;
    left: -230px;
    top: 100%;
    content: '';
    display: inline-block;
    width: 450px;
    aspect-ratio: 1 / 1;
    background-image: url('../../img/global/circle.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.p-top-about__textArea {
  p + p {
    margin-block-start: 1em;
  }
}

.p-top-about__img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2vw;
  inline-size: 43vw;
}

@media (max-width: 768px) {
  .p-top-about {
    margin-block: 13vw;
    &::before {
      display: none;
    }
  }
  .p-top-about__img {
    position: static;
    transform: none;
    inline-size: 90vw;
    margin: 10vw auto 0;
  }
}

/* ==========================================================================
PAGES / TOP PAGE / FEATURES
========================================================================== */

.p-top-features__gradation {
  background: linear-gradient(180deg, #ffffff 0%, #fffdde 100%);
  padding-block-end: 10vw;
}

.p-top-features {
  margin-block-end: 10vw;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    position: absolute;
    right: -230px;
    top: 90%;
    content: '';
    display: inline-block;
    width: 450px;
    aspect-ratio: 1 / 1;
    background-image: url('../../img/global/circle.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.p-top-features__bg {
  inline-size: 100%;
  height: 450px;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    background: #fff;
    --gutter: max(5vi, 20px);
    max-inline-size: var(--container-max-width);
    padding-inline: var(--gutter);
    margin-inline: auto;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px 10px 0 0;
    padding-block-start: 5%;
  }
  img {
    object-fit: cover;
    object-position: center;
    inline-size: 100%;
    block-size: 100%;
  }
}

.p-top-features__inner {
  margin-block-start: -40px;
  padding-inline: 40px;
}

.p-top-features__flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 30px 20px;
  margin-block-start: 100px;
}

.p-top-features__flexItem {
  inline-size: calc((100% - 20px * 1) / 2);
  background: #fff;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 50px 30px;
  position: relative;
  &:nth-child(even) {
    margin-block-start: 30px;
  }
}

.p-top-features__flexItemIcon {
  position: absolute;
  top: -40px;
  right: -20px;
  inline-size: 90px;
  aspect-ratio: 1 / 1;
}

.p-top-features__flexTitle {
  --clamp-min: 18;
  --clamp-max: 22;
  font-weight: 600;
  margin-block-end: 15px;
}

@media (max-width: 768px) {
  .p-top-features__gradation {
    padding-block-end: 0;
  }
  .p-top-features {
    &::before {
      display: none;
    }
  }
  .p-top-features__bg {
    height: 200px;
    &::before {
      display: none;
    }
  }
  .p-top-features__inner {
    margin-block-start: 10vw;
    padding-inline: 0;
  }
  .p-top-features__flex {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px 20px;
    margin-block-start: 10vw;
  }

  .p-top-features__flexItem {
    inline-size: 100%;
    padding: 20px;
    &:nth-child(even) {
      margin-block-start: 0;
    }
  }
  .p-top-features__flexItemIcon {
    top: -20px;
    right: -10px;
    inline-size: 60px;
  }
}

/* ==========================================================================
PAGES / TOP PAGE / BUSINESS
========================================================================== */

.p-top-business__flex {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.p-top-business__flexItem {
  inline-size: calc((100% - 20px * 1) / 2);
  &.--left {
    flex: 1;
    margin-left: calc(50% - 50vw);
    padding-left: 3vw;
    border-radius: 10px;
  }
  &.--right {
    margin-block-start: 10vw;
  }
}

.p-top-business__textArea {
  p + p {
    margin-block-start: 1em;
  }
}

.p-top-business__title {
  --clamp-min: 20;
  --clamp-max: 26;
  font-weight: 600;
  margin-block-end: 15px;
}

.p-top-business__list {
  margin-block: 15px;
}

.p-top-business__listItem {
  font-weight: 800;
  span {
    background: linear-gradient(95.33deg, #ffef4a 0%, #fff34a 55.77%, #ffc34a 100%);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100% 50%;
  }
}

@media (max-width: 768px) {
  .p-top-business__flex {
    flex-wrap: wrap;
  }
  .p-top-business__flexItem {
    inline-size: 100%;
    &.--left {
      flex: 1;
      margin-left: 0;
      padding-left: 0;
      border-radius: 10px;
    }
    &.--right {
      margin-block-start: 0;
    }
  }
}

/* ==========================================================================
PAGES / TOP PAGE / COLUMN
========================================================================== */
.p-top-column {
  margin-block: 60px;
}

.p-top-column__container {
  --gutter: max(5vi, 20px);
  max-inline-size: 1680px;
  padding-inline: var(--gutter);
  margin-inline: auto;
}

.p-top-column__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 30px;
}

.p-top-column__gridItem {
  position: relative;
  aspect-ratio: 4/2.9;
  border-radius: 10px;
  a {
    .p-top-column__bg {
      position: relative;
      &::before {
        background: rgba(0, 0, 0, 0.5); /* マスクの色(黒の50%) */
        bottom: 0;
        opacity: 0;
        content: '';
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: opacity 0.6s ease; /* ゆっくりopacityのみへ変化させる */
        width: 100%;
        border-radius: 10px;
      }
    }
    &:hover {
      .p-top-column__bg {
        &::before {
          opacity: 1;
        }
      }
    }
  }
}

.p-top-column__block {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  inline-size: 94%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-top-column__title {
  --clamp-min: 30;
  --clamp-max: 50;
  font-weight: 600;
  margin-block-end: 5px;
  font-family: var(--font-lato);
  line-height: 1;
  color: #fff;
}

.p-top-column__text {
  --clamp-min: 16;
  --clamp-max: 20;
  font-weight: 600;
  color: #fff;
}

.p-top-column__arrow {
  inline-size: 70px;
  aspect-ratio: 1/1;
}

@media (max-width: 768px) {
  .p-top-column__grid {
    grid-template-columns: 1fr;
  }
  .p-top-column__arrow {
    inline-size: 40px;
  }
}

/* ==========================================================================
PAGES / TOP PAGE / NEWS
========================================================================== */
.p-top-news {
  background: #fffde2;
  padding-block: 100px 20vw;
}

.p-top-news__flex {
  display: flex;
  align-items: center;
}

.p-top-news__info {
  inline-size: 30%;
  .l-button--jp {
    margin-block-end: 0;
  }
}

.l-news__list {
  inline-size: 70%;
}

@media (max-width: 768px) {
  .p-top-news {
    background: #fffde2;
    padding-block: 50px 1vw;
  }
  .p-top-news__flex {
    flex-wrap: wrap;
  }
  .p-top-news__info {
    inline-size: 100%;
    .l-button--jp {
      display: none;
    }
  }
  .l-news__list {
    inline-size: 100%;
  }
}
