.fixed__badge {
  position: fixed;
  right: 1vw;
  bottom: 1vw;
  inline-size: min(240px, 14vw);
  z-index: 10;
  opacity: 0;
  transition: opacity 0.6s ease;
  a {
    transition: all 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
}

.fixed__badge.show {
  opacity: 1;
}

.footer__section {
  background: #333;
  background-color: #333;
  border-radius: 2000px 2000px 0 0 / 500px 500px 0 0;
  margin: 0 -200px 0;
  padding: 65px 280px;
  min-height: 300px;
  text-align: center;
  margin-block-start: -8vw;
}

.l-footer__wrap {
  background: #333;
  padding-block: 50px 20px;
}

@media (max-width: 768px) {
  .footer__section {
    border-radius: 0;
    margin: 0 auto 0;
    padding: 30px 20px 0;
    min-height: auto;
    text-align: center;
    margin-block-start: 0;
  }
  .fixed__badge {
    inline-size: 30vw;
    right: 15px;
    bottom: 50px;
  }
}

/* ==========================================================================
COMPONENTS / FOOTERContact
========================================================================== */
.l-footer-contact {
  max-inline-size: 980px;
  margin-inline: auto;
  background: linear-gradient(95.33deg, #ffef4a 0%, #fff34a 55.77%, #ffc34a 100%);
  padding: 30px;
  border-radius: 10px;
  margin-block-start: -8vw;
}

.l-footer-contact__meta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.l-footer-contact__text {
  text-align: left;
  p {
    --clamp-min: 18;
    --clamp-max: 22;
    font-weight: 600;
    border-bottom: 1px solid #333;
    display: inline;
    padding-block-end: 5px;
  }
}

.l-footer-contact__button {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
}

.l-footer-contact__tel {
  inline-size: calc((100% - 20px * 1) / 2);
  p {
    text-align: center;
  }
  a {
    display: block;
    background: #fff;
    border: 1px solid #333;
    border-radius: 50vw;
    padding: 10px 20px;
    text-align: center;
    transition: all 0.3s;
    span {
      position: relative;
      padding-left: 20px;
      font-weight: 600;
      --clamp-min: 18;
      --clamp-max: 20;
      &::before {
        position: absolute;
        content: '';
        position: absolute;
        left: -10px;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        display: inline-block;
        width: 20px;
        aspect-ratio: 1 / 1;
        mask-image: url('../../img/icon/phone-b.svg');
        mask-position: center;
        mask-size: contain;
        mask-repeat: no-repeat;
        background-color: #333;
        transition: all 0.3s;
      }
    }
    &:hover {
      background: #333;
      color: #fff;
      span {
        &::before {
          background-color: #fff;
        }
      }
    }
  }
}

.l-footer-contact__mail {
  inline-size: calc((100% - 20px * 1) / 2);
  a {
    display: block;
    background: #fff;
    border: 1px solid #333;
    border-radius: 50vw;
    padding: 10px 20px;
    text-align: center;
    transition: all 0.3s;
    span {
      position: relative;
      padding-left: 20px;
      font-weight: 600;
      --clamp-min: 18;
      --clamp-max: 20;
      &::before {
        position: absolute;
        content: '';
        position: absolute;
        left: -10px;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        display: inline-block;
        width: 24px;
        aspect-ratio: 1 / 1;
        mask-image: url('../../img/icon/envelope-fill-b.svg');
        mask-position: center;
        mask-size: contain;
        mask-repeat: no-repeat;
        background-color: #333;
        transition: all 0.3s;
      }
    }
    &:hover {
      background: #333;
      color: #fff;
      span {
        &::before {
          background-color: #fff;
        }
      }
    }
  }
}

.l-footer-meta__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.l-footer-logo {
  inline-size: 115px;
}

.l-footer-link--pc {
  ul {
    display: flex;
    gap: 20px;
    & + ul {
      margin-block-start: 10px;
    }
    li {
      a {
        color: #fff;
        transition: all 0.3s;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.l-footer-link--sp {
  display: none;
}

.l-footer__copyright {
  text-align: center;
  margin-block-start: 100px;
  small {
    color: #fff;
    font-size: 14px;
    a {
      transition: all 0.3s;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 768px) {
  .l-footer-contact {
    max-inline-size: 980px;
    margin-inline: auto;
    background: linear-gradient(95.33deg, #ffef4a 0%, #fff34a 55.77%, #ffc34a 100%);
    padding: 30px;
    margin-block-start: 0;
  }
  .l-footer-contact__meta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .l-footer-contact__title {
    .l-title-contact {
      margin-block-end: 20px;
      &::before {
        left: 50%;
        transform: translateX(-50%);
      }
      h2,
      p {
        text-align: center;
      }
    }
  }
  .l-footer-contact__button {
    flex-wrap: wrap;
    margin-block-start: 30px;
  }

  .l-footer-contact__tel {
    inline-size: 100%;
  }

  .l-footer-contact__mail {
    inline-size: 100%;
  }

  .l-footer-meta__flex {
    flex-wrap: wrap;
  }

  .l-footer-logo {
    inline-size: 90px;
    margin-inline: auto;
    margin-block-end: 50px;
  }

  .l-footer-link--pc {
    display: none;
  }
  .l-footer-link--sp {
    display: block;
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      li {
        inline-size: 100%;
        a {
          color: #fff;
        }
      }
    }
  }
  .l-footer__copyright {
    margin-block-start: 50px;
    small {
      font-size: 12px;
    }
  }
}
